<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dzq_spider</display-name>
  <welcome-file-list>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>images.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>LoadImageServlet</servlet-name>
    <servlet-class>com.neu.spider.servlet.LoadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadImageServlet</servlet-name>
    <url-pattern>/loadImageServlet</url-pattern>
  </servlet-mapping> 
</web-app>